{% sw_extends '@Storefront/storefront/layout/cookie/cookie-configuration.html.twig' %}

{# hide close button #}
{% block utilities_offcanvas_close %}
    <h5 class="visually-hidden" id="cookie-config-title">
        {{ 'cookie.headline'|trans|sw_sanitize }}
    </h5>
    <p class="visually-hidden" id="cookie-config-description">{{ 'cookie.messageTextPage'|trans|sw_sanitize }}</p>
{% endblock %}

{# modify buttons #}
{% block layout_cookie_configuration_button %}
    {% if config('McsCookiePermission.config.ShowAcceptAll') and not config('core.basicInformation.acceptAllCookies') %}
        <button
            type="submit"
            class="btn btn-primary btn-block js-offcanvas-cookie-submit-all"
        >
            {{ "mcs-cookie-permission.cookie.accept"|trans|sw_sanitize }}
        </button>
    {% endif %}
    <button
        type="submit"
        class="btn {{ config('McsCookiePermission.config.SaveButtonDisplay') }} btn-block js-offcanvas-cookie-submit"
    >
        {{ "cookie.save"|trans|sw_sanitize }}
    </button>
    {% if config('McsCookiePermission.config.DenyButtonDisplay') != 'none' %}
        <button
            type="submit"
            class="btn {{ config('McsCookiePermission.config.DenyButtonDisplay') }} btn-block js-offcanvas-cookie-deny">
            {{ "cookie.deny"|trans|sw_sanitize }}
        </button>
    {% endif %}
{% endblock %}
